PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=<%= node['zabbix_agent']['server'] %>
ServerActive=<%= node['zabbix_agent']['server'] %>
HostMetadata = <%= node['zabbix_agent']['metadata'] %>
